html {
    line-height     : 1.5;
    font-family     : Georgia, serif;
    font-size       : 14pt;
}

body {
    margin        : 0 auto;
    max-width     : 40em;
    hyphens       : auto;
    word-wrap     : break-word;
    text-rendering: optimizeLegibility;
    font-kerning  : normal;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding  : 1em;
    }
}

@media print {
    body {
        font-size       : 12pt;
        padding         : 1em;
    }
    p, h2, h3 {
        orphans: 3;
        widows : 3;
    }
    h2, h3, h4 {
        page-break-after: avoid;
    }
}
